################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.Rhistory
*.RData
*.Rproj
.Rproj.user
/shiny/covid19canada/rsconnect/shinyapps.io/apexrms/covid19canada.dcf
